@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: #F5F7Fa;
    height: 100vh;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

/* NAVBAR */
.navbar{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 10px 0;
    height: 44px;
}

.navbar i{
    font-size: 1.5rem;
    color: #dadfe6;
}

.navbar i:nth-child(1){
    color: #fe466d;
}

/* Photo and actions */
.photo-and-actions{
    height: calc(100vh - 44px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo{
    width: 98vw;
    height: 85vh;
    background: url('../img/git.jpeg') center center/cover;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    color: #eee;
    box-shadow: 0 2px 10px 0  rgba(136, 136, 136, 0.77)
}
.photo-text{
    padding: 15px;
    background: rgb(2, 0, 36);
    background: rgb(2, 0, 36);
    background: linear-gradient(
        180deg,
        rgba(2,0,36,1) 0%,
        rgba(35,34,65,0) 0%,
        rgba(0,0,0,0.7) 52%
    );
    border-radius: 10px;
}
.photo-name-and-age{
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    font-size: 1.4rem;
}
.photo-name-and-age:nth-child(2){
    margin-left: 10px;
    font-weight: 500;
}
.photo-bio{
    line-height: 1.7rem;
    font-size: 1.1rem;
    font-weight: 500;
}

/* Actions */
.actions{
    display: flex;
    flex: auto;
    align-items: center;
    margin: 1rem 0;
}

.action{
    display: flex;
    background: #fff;
    box-shadow: 0 2px 6px 0 rgba(112, 125, 134, 0.14);
    height: 60px;
    width: 60px;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: 2rem;
    transition: transform 500ms ease;
}
.action:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.actions .action:nth-child(1){
color: #FD5068;
}

.actions .action:nth-child(3){
   color: #1BE4A1;
}
.actions .action:nth-child(2){
    margin: 0 1rem;
    color: #2db1ff;
    height: 48px;
    width: 48px;
    font-size: 1.5rem;

}
/* desktop view */
@media(min-width:1025px){
    .photo{
        width: 367px;
        height: 684px;
    }
    .navbar{
        width: 400px;
        margin: auto;
    }
}